{% extends "layouts/base.html" %}
{% load book_extras %}
{% block title %} Management {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">物种序列信息管理</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">
                    <!-- [ basic-table ] start -->
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>总计有{{count_total}}个物种序列信息</h5>
                            </div>

                            {% show_messages %}

                            <div class="card-block">
                                <div class='row'>
                                    <div class="col-8">
                                        <b>排序 :  </b>
                                        <a href="{% url 'sequence_list' %}?search={{ search }}&orderby=Taxonomy_ID">Taxonomy_ID</a> |  
                                        <a href="{% url 'sequence_list' %}?search={{ search }}&orderby=Accession">Accession</a> | 
                                        <a href="{% url 'sequence_list' %}?search={{ search }}&orderby=created_at">更新时间</a>
                                    </div>
   
                                    <div class="col-4">
                                        <form class="form-inline mb-2">
                                            <div class="form-group mx-sm-3 mb-2">
                                                <input type="text" 
                                                       class="form-control" 
                                                       name="search",
                                                       id='search',
                                                       placeholder="搜索",
                                                       value={{search}}
                                                       >
                                            </div>
                                            <button type="submit" class="btn btn-secondary mb-2 btn-sm">搜索</button>
                                        </form>
                                    </div>
                                </div>

                                <div class="table-responsive ">
                                    <table class="table table-striped table-hover">
                                        <thead>
                                            <tr>
                                                <th>引物区域</th>
                                                <th>界</th>
                                                <th>门</th>
                                                <th>纲</th>
                                                <th>目</th>
                                                <th>科</th>
                                                <th>属</th>
                                                <th>种</th>
                                                <th>操作</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for field in sequences %}
                                            <tr>
                                                <th scope="row">{{field.Primers}}</th>
                                                <td>{{field.Kingdom}}</td>
                                                <td>{{field.Dividion}}</td>
                                                <td>{{field.Class}}</td>
                                                <td>{{field.Order}}</td>
                                                <td>{{field.Family}}</td>
                                                <td>{{field.Genus}}</td>
                                                <td>{{field.Species}}</td>
                                                <td>
                                                    <a href="{% url 'sequence_detail' field.id%}" class="badge badge-warning"><i class="feather icon-eye"></i></a>
                                                    <a href="{% url 'sequence_update' field.id%}" class="badge badge-info"><i class="feather icon-edit"></i>&nbsp;Update</a>&nbsp;
                                                    <a href="{% url 'sequence_delete' field.id%}" class="badge badge-danger"><i class="feather icon-trash-2"></i>&nbsp;Delete</a>&nbsp;                                
                                                </td>

                                            </tr>
                                            {% endfor %}


                                        </tbody>
                                    </table>
                                </div>
                                <div class="row">
                                    <div class='col-4'>
                                        <a href="{% url 'sequence_create' %}" class='btn btn-primary'>添加物种信息</a>
                                    </div>
                                    <div class='col-8'>
                                        {% show_pagination %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <button type="button" id="BackTop" class="toTop-arrow" style="z-index: 100;"></button>
</div>

{% endblock content %}

{% block javascripts %}
<script>
    $(function () {
    $('#BackTop').click(function () {
        $('html,body').animate({scrollTop: 0}, 500);
    });
    $(window).scroll(function () {
        if ($(this).scrollTop() > 300) {
            $('#BackTop').fadeIn(300);
        } else {
            $('#BackTop').stop().fadeOut(300);
        }
    }).scroll();
});
</script>
{% endblock javascripts %}
