{% extends "layouts/base.html" %}
{% load book_extras %}
{% block title %} Management {% endblock %} 

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="page-header">
            <div class="page-block">
                <!-- Title -->
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">引物区域</h5>

                        </div>

                    </div>
                </div>
            </div>

        </div>

        <br>
        <!-- [ breadcrumb ] end -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">
                    <!-- [ basic-table ] start -->
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header">
                                <h5> 总计有 {{count_total}} 引物区域</h5>
                            </div>
                            
                            {% show_messages %}

                            <div class="card-block ">
                                <div class='row'>
                                    <!-- Sort by -->
                                    <div class="col-6">
                                        <b>排序 : - </b>
                                        <a href="{% url 'primers_list' %}?search={{ search }}&orderby=Query">区域</a>  | 
                                        <a href="{% url 'primers_list' %}?search={{ search }}&orderby=Sequence_Quantity">序列数量</a> |  
                                        <a href="{% url 'primers_list' %}?search={{ search }}&orderby=Created_at">创建时间</a> 
                                    </div>
                                     <!-- Search box -->
                                    <div class="col-6">
                                        <form class="form-inline mb-2">
                                            <div class="form-group mx-sm-3 mb-2">
                                                <input type="text" 
                                                       class="form-control" 
                                                       name="search",
                                                       id='search',
                                                       placeholder="Search primers",
                                                       value={{search}}
                                                       >
                                            </div>
                                            <button type="submit" class="btn btn-secondary mb-2 btn-sm">搜索</button>
                                        </form>
                                    </div>
                                </div>
                                
                                <div class="table-responsive table-hover">
                                    <!-- Table -->
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>区域名称</th>
                                                <th>正向引物</th>
                                                <th>反向引物</th>
                                                <th>序列数量</th>
                                                <th>操作</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            
                                            {% for primer in primers %}
                                            <tr>
                                                <th scope="row">{{primer.Query}}</th>
                                                <td>{{primer.Forword_Primer}}</td>
                                                <td>{{primer.Reverse_Primer}}</td>
                                                <td>{{primer.Sequence_Quantity}}</td>
                                                <td><a href="{% url 'primers_delete' primer.pk%}" class="badge badge-danger"><i class="feather icon-trash-2"></i>&nbsp;删除</a></td>

                                            </tr>
                                            {% endfor %}


                                        </tbody>
                                    </table>
                                </div>
                                <div class="row">
                                    <!-- Add button -->
                                    <div class='col-6'>
                                        <a href="{% url 'primers_create' %}" class='btn btn-primary'>添加</a>
                                    </div>
                                    <!-- Paginations -->
                                    <div class='col-6'>
                                        {% show_pagination %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <!-- [ Main Content ] end -->
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
